# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Local environment files
*.tfvars.json

# IDE specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Ignore any secret or credential files
secrets.tfvars
